html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #9ECEDE;
}

.top-wrapper {
}

.content-wrapper {
  width: 350px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 30px;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu-entry {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: #AFC3C9;
  line-height: 50px; /* vertically center text inside entry */
  float: left;
  transition: all 0.5s ease;

  list-decoration: none;

}

.menu-search {
  width: 50px;
  position: absolute;
  right: 0;
}

.fa-search {
  left: 10px;
}

.fa-close {
  right: 10px;
  display: none;
}

.fa-close, .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.active {
  background-color: #00AAE3;
}

.search-expanded {
  width: 100%;
}

.searchbar {
  width: 0;
  background-color: inherit;
  border: none;
  height: 50px;
  font-size: 20px;
  color: white;
  transition: all 0.5s ease;
}

.expand, .close {
  color: white;
  transition: color 0.3s ease;
}

.expand:hover, .close:hover {
  color: #00AAE3;
  /* transform: translate(0, 50%) scale(1.1); */
  cursor: pointer;
}

.searchbar:active, .searchbar:focus {
  outline: none;
  border: none;
}

.searchbar-expanded {
  width: 70%;
  margin-left: 50px;
  margin-right: 50px;
}
