html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #333;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  color: white;
  height: 100%;
}

.page-container {
  min-height: 100%;
  position: relative;
}


.top-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease;
}

form {
  background-color: #222;
  border-radius: 2px;
}

.searchbar {
  width: 80px;
  border-width: 0;
  height: 30px;
  line-width: 1.4px;
  padding: 5px;
  color: white;
  font-size: 18px;
  background-color: #2a2a2a;
  margin: 5px;
  border-radius: 2px;
  transition: width 0.5s ease;
}

.searchbar:hover {
  background-color: #2e2e2e;
}

.searchbar:focus {
  border: none;
  outline: none;
  background-color: #2e2e2e;
  width: 300px;
}

.submit {
  margin-right: 10px;
  border-width: 0;
  background-color: inherit;
  color: #666; 
  font-size: 20px;
  position: relative;
  top: 50%;
}

.submit:hover {
  color: #bbb;
}


button:active, button:focus {
  border: none;
  outline: none;
}

.submit:active {
  color: #eee;
  transform: translate(1px, 1px);
}

.random {
  font-size: 14px;
  width: 100%;
  text-align: right;
  margin-top: 10px;
}

.random a {
  color: #aaa;
  padding: 5px;
  background-color: #222;
}

.random a:hover {
  color: #ccc;
  background-color: #2a2a2a;
}

.random a:active {
  color: #eee;
}

.top {
  top: 0;
  transform: translate(-50%, 0);
  margin-top: 20px;
}

.results {
  padding-top: 120px;
  width: 80%;
  margin: auto;
  padding-bottom: 40px;

}

.result {
  background-color: #222; 
  padding: 10px;
  margin: 10px;
  opacity: 1;
}


h1 {
  font-size: 18px;
}

.result p {
  font-size: 14px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: white;
}

a div {
  border-left: 0;
  background-color: #222;
  transform: translateX(0);
  transition: all 0.3s ease;
}
a:hover div {
  transform: translateX(4px);
  background-color: #2a2a2a;
}

footer {
  font-size: 12px;
  color: #888;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
}

footer a {
  color: #aaa;
}
footer a:hover {
  color: #ccc;
}

footer a:active {
  color: #eee;
}

