---
title: Sam Roelants
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="The personal blog of Sam Roelants.">
  <meta name="author" content="Sam Roelants">
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <meta name="theme-color" content="#FAFAFA" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700|Open+Sans:300,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500&display=swap" rel="stylesheet">




  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  <script type="text/javascript">
    if (localStorage.theme === 'dark') {
      document.documentElement.setAttribute('data-theme', 'dark');
   }
  </script>
  {% set css %}
    {% include "assets/css/prism_paramount.css" %}
    {% include "assets/css/style.css" %}
  {% endset %}
<style>{{ css | cssmin | safe }}</style>


  <title>Sam Roelants</title>
</head>
  <body>
    <div class="page">
      <header class="header">
      <h1 class="header__name">
        Sam Roelants
      </h1>
      <nav class="header__nav">
        <div class="header__nav__item {% if section == "blog" %}header__nav__item--active{% endif %}">
          <a href="/blog" class="header__nav__anchor">Blog</a>
        </div>
        <div class="header__nav__item {% if section == "about" %}header__nav__item--active{% endif %}">
          <a href="/about" class="header__nav__anchor">About</a>
        </div>
        <div class="header__nav__item {% if section == "resume" %}header__nav__item--active{% endif %}">
          <a href="/resume" class="header__nav__anchor">Resume</a>
      </div>
      </nav>
      </header>
      <div class="main">
        {{ content | safe }}
      </div>
      <div class="icons">
        <a href="https://www.facebook.com/samroelants" 
          target="_blank" 
          title="Facebook"
          rel="noopener noreferrer">
          <img src="/assets/img/icons/facebook_square.svg" class="social-icon" 
        alt="facebook"/></a>
        <a href="https://www.instagram.com/sroelants" 
          target="_blank" 
          rel="noopener noreferrer">
          <img src="/assets/img/icons/instagram_square.svg" class="social-icon"
        alt="instagram"/></a>
        <a href="https://www.linkedin.com/in/sam-roelants-1313a426" 
          target="_blank" 
          rel="noopener noreferrer">
          <img src="/assets/img/icons/linkedin_square.svg" class="social-icon"
        alt="linkedin"/></a>
        <a href="https://www.github.com/sroelants" 
          target="_blank" 
          rel="noopener noreferrer">
          <img src="/assets/img/icons/github.svg" class="social-icon"
        alt="github"/></a>
        <a href="mailto:roelants.sam@gmail.com" 
          target="_blank" 
          rel="noopener noreferrer">
          <img src="/assets/img/icons/mail.svg" class="social-icon"
        alt="mail"/></a>
    </div>
    <footer class="footer">© 2019 Sam Roelants, All rights reserved.</footer>

    
    <div>
      <input type="checkbox" id="lightmode" name="light mode">
      <label for="lightmode" class="light-toggle">
          <img src="/assets/img/icons/sun_black.svg" class="light-toggle__icon--muted" />
          <img src="/assets/img/icons/moon.svg" class="light-toggle__icon--muted" />
        <div class="light-toggle__button">
          <img class="light-toggle__icon" />
        </div>
      </label>
    </div>
    <script src="/assets/js/toggle.js"></script>
  </body>
</html>
