---
title: Sam Roelants
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <!--
  <link type="text/css" href="/assets/css/normalize.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/prism-xonokai.css" rel="stylesheet">-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,700|Open+Sans:300,400&display=swap" rel="stylesheet">
  <!--
  <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
  -->

  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  {% set css %}
    {% include "assets/css/style.css" %}
    {% include "assets/css/prism.css" %}
  {% endset %}
<style>{{ css | cssmin | safe }}</style>


  <title>Sam Roelants</title>
</head>
  <body>
    <aside class="sidebar">
      <header class="header">
      <div class="header__name">
        Sam Roelants
      </div>
      <div class="header__logo">
      </div>
      </header>
      <nav class="header__nav">
        <ul class="header__nav_menu">
          <li class="header__nav_menu__item {% if section == "blog" %}header__nav_menu__item--active{% endif %}">
            <a href="/blog" class="header__nav_menu__anchor">Blog</a>
          </li>
          <li class="header__nav_menu__item {% if section == "about" %}header__nav_menu__item--active{% endif %}">
            <a href="/about" class="header__nav_menu__anchor">About</a>
          </li>
          <li class="header__nav_menu__item {% if section == "resume" %}header__nav_menu__item--active{% endif %}">
            <a href="/resume" class="header__nav_menu__anchor">Resume</a>
          </li>
        </ul>
      </nav>
      </aside>
    <div class="main">
      {{ content | safe }}
    </div>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
