---
title: Sam Roelants
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" href="/assets/css/normalize.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/style.css" rel="stylesheet">
  <link type="text/css" href="/assets/css/prism-xonokai.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:300,400&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">


  <title>Sam Roelants</title>
</head>
  <body>
    <div class="content">
    <div class="header">
      <div class="header__name">
        Sam Roelants
      </div>
      <div class="header__logo">
      </div>
      <nav class="header__nav">
        <ul class="header__nav_menu">
          <li class="header__nav_menu__item">
            <a href="/blog" class="header__nav_menu__anchor">Blog</a>
          </li>
          <li class="header__nav_menu__item">
            <a href="/about" class="header__nav_menu__anchor">About</a>
          </li>
          <li class="header__nav_menu__item">
            <a href="/resume" class="header__nav_menu__anchor">Resume</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main">
      {{ content | safe }}
    </div>
  </body>
</html>
