---
layout: mainlayout.njk
---
<a href="/" class="back">← Back</a>
<section id="post">
  <article>
    {% metadata date, tags %}
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</section>
