:root {
  --color-bg: #fbfbfb;
  --color-fg: #333;
  --color-line: #eee;
  --color-tag: #e6e6e6;
  --color-code: #f2f2f2; }

[data-theme="dark"] {
  --color-bg: #333;
  --color-fg: #fbfbfb;
  --color-line: #444;
  --color-tag: #555;
  --color-code: #555; }

* {
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  background: var(--color-bg);
  color: var(--color-fg);
  counter-reset: sidenote-counter;
  font-family: "Open Sans", sans-serif;
  transition: all 0.1s linear; }

.page {
  padding-top: 3rem;
  display: grid;
  max-width: 90vw;
  margin: auto;
  grid-template-rows: 8rem auto 3rem auto;
  grid-template-areas: "header" "main" "icons" "footer"; }

@media (min-width: 50rem) {
  .page {
    max-width: 45rem; } }

@media (min-width: 70rem) and (orientation: landscape) {
  .page {
    padding-top: 0;
    max-width: 100%;
    margin-left: 0;
    margin-right: auto;
    grid-template-columns: calc(100vw / 3) auto auto;
    grid-template-rows: 98vh auto;
    grid-template-areas: "header main ." "icons main ." ". main ." ". footer ."; } }

@media (min-width: 80rem) and (orientation: landscape) {
  .page {
    grid-template-columns: calc(80rem / 3) auto auto; } }

/* HEADER [HEAD} **************************************************************/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: header;
  height: 100%; }

.header__name {
  font-family: "Merriweather", serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-bottom: 0; }

.header__nav {
  font-family: "Open Sans", sans-serif;
  display: flex;
  font-size: 1.2rem;
  font-weight: 300; }

.header__nav__item {
  letter-spacing: 0.25rem;
  margin: 0 0.5rem; }

.header__nav__anchor {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none; }
  .header__nav__anchor:hover {
    color: #16abff;
    border-bottom: 2px solid var(--color-fg); }

.header__nav__item--active {
  border-bottom: 2px solid var(--color-fg); }

@media (min-width: 50rem) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; } }

@media (min-width: 70rem) and (orientation: landscape) {
  .header {
    width: calc(100vw / 3);
    max-width: calc(80rem/3);
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: fixed;
    border-right: 1px solid var(--color-line); }
  .header__name {
    padding-right: 3rem;
    margin: 1rem 0; }
  .header__nav {
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.4rem; }
  .header__nav__item {
    margin: 0.3rem 0;
    transform: translate(-1px); }
  .header__nav__anchor {
    padding-right: 3rem; }
    .header__nav__anchor:hover {
      margin-right: -3px;
      border-right: 3px solid var(--color-fg);
      border-bottom: 0; }
  .header__nav__item--active {
    margin-right: -3px;
    border-right: 3px solid var(--color-fg);
    border-bottom: 0; } }

/* MAIN [MAIN] ****************************************************************/
.main {
  grid-area: main;
  max-width: 90vw;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.6;
  margin: auto; }

.icons {
  text-align: center;
  grid-area: icons; }

.footer {
  grid-area: footer;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  max-width: 40rem; }

@media (min-width: 40rem) {
  .main {
    font-size: 1.1rem; } }

@media (min-width: 70rem) and (orientation: landscape) {
  .main {
    max-width: 40rem;
    padding-top: 40vh;
    margin: 0 3rem; }
  .icons {
    margin-right: 3rem;
    text-align: right;
    grid-area: icons;
    position: fixed;
    bottom: 1rem; } }

/* BLOG [BLOG] ****************************************************************/
.post-title {
  margin-top: 1em;
  margin-bottom: 0em;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2em;
  text-align: left; }
  .post-title a {
    text-decoration: none; }
    .post-title a:hover {
      color: #16abff; }

.post-metadata {
  position: relative;
  bottom: -0.3em;
  text-align: left;
  font-size: 0.9em; }

.post-metadata .tag {
  display: inline-block;
  padding: 2px 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--color-tag);
  border-radius: 4px; }
  .post-metadata .tag:hover {
    background-color: #cccccc;
    transition: all 0.1s linear;
    color: #e7e7e7; }
  .post-metadata .tag a {
    text-decoration: none; }
    .post-metadata .tag a:hover {
      color: #333; }

/* ABOUT [ABOU] ***************************************************************/
#sam-photo {
  width: 150px;
  height: 150px;
  float: right;
  margin: 20px 0 10px 10px; }

@media (min-width: 40rem) {
  #sam-photo {
    width: 250px;
    height: 250px;
    margin: 20px 0 20px 20px; } }

/* RESUME [RESU] **************************************************************/
section {
  margin: 0 0 50px 0; }

.post-list {
  padding-left: 0; }

.item {
  display: flex;
  margin-top: 20px; }

.activity_date {
  min-width: 150px;
  font-weight: bold; }

.title {
  font-weight: bold; }

.description {
  padding-top: 10px;
  font-style: italic; }

#skills > ul {
  font-weight: 400;
  list-style: none;
  padding: 0px;
  margin: 0px; }

#skills > ul > li {
  padding: 0px 0px 20px 0px; }

/* GENERAL ELEMENTS [GENE] ****************************************************/
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: "Merriweather", serif;
  text-align: left; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  margin-top: 1.5em; }

h3 {
  margin-top: 1.5em; }

img {
  max-width: 100%; }

.social-icon {
  margin: 0.1rem;
  width: 25px;
  opacity: 0.3;
  transition: all 0.1s linear; }
  .social-icon:hover {
    opacity: 0.6; }
  .social-icon:active {
    opacity: 0.7;
    transform: translateY(1px); }

[data-theme="dark"] .social-icon {
  filter: invert(1); }

p {
  max-width: inherit;
  margin-top: 40px;
  margin-bottom: 40px; }

a {
  text-decoration-color: #16abff;
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: #16abff; }

iframe {
  max-width: 90vw;
  height: 23rem; }

@media (min-width: 45rem) {
  iframe {
    max-width: 40rem; } }

p > code {
  background-color: var(--color-code);
  border: 1px solid var(--color-line);
  border-radius: 5px;
  padding: 2px 3px;
  font-size: 0.9rem;
  font-weight: 700; }

/* SIDENOTES [SIDE] ***********************************************************/
.sidenote {
  float: right;
  clear: right;
  margin-right: -45%;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative; }

.sidenote-number {
  margin-left: -0.3em;
  counter-increment: sidenote-counter; }

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline; }

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 0.6em;
  top: -0.5em;
  left: 0.1em; }

.sidenote:before {
  content: counter(sidenote-counter);
  font-size: 0.7em;
  top: -0.5em; }

input.margin-toggle {
  display: none; }

label.sidenote-number {
  display: inline; }

label.margin-toggle:not(.sidenote-number) {
  display: none; }

@media (max-width: 85rem) {
  .sidenote {
    display: none; }
  .sidenote-number:after {
    position: relative;
    z-index: -10;
    font-weight: 700;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 0 0.4em;
    border: 1px solid #d9d9d9; }
  .margin-toggle:checked + .sidenote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative; }
  label {
    cursor: pointer; } }

/* LIGHT MODE SWITCH [LIGH] ***************************************************/
#lightmode {
  display: none; }

.light-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 65px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 100px;
  border: 1px solid #bfbfbf;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer; }

.light-toggle__button {
  position: absolute;
  background-color: #fbfbfb;
  left: 3px;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfbfbf; }

.light-toggle__icon--muted {
  width: 18px;
  height: 18px;
  opacity: 0.3; }

.light-toggle__icon {
  transform: translate(-0.5px, -0.5px);
  width: 18px;
  height: 18px;
  content: url("/assets/img/icons/sun_black.svg"); }

#lightmode:checked ~ .light-toggle > .light-toggle__button {
  background-color: #fbfbfb;
  margin-left: 30px; }
  #lightmode:checked ~ .light-toggle > .light-toggle__button .light-toggle__icon {
    content: url("/assets/img/icons/moon.svg"); }

@media (min-width: 80rem) {
  .light-toggle {
    position: fixed;
    top: unset;
    bottom: 10px;
    right: 10px; } }

/* PROJECTS [PROJ] ************************************************************/
.project__image {
  filter: grayscale(1); }
  .project__image:hover {
    filter: grayscale(0);
    transition: all 0.1s linear; }

.project__links {
  display: flex;
  justify-content: space-around; }

.project__list {
  list-style: none;
  padding-left: 20px; }
