/* Colours */
/* General page styling */
body {
  background: #F9F9F9;
  color: #2c2c2c;
  font-family: 'Rubik', sans-serif;
  font-size: 16px; }

/* Navbar styling */
nav {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 30px; }
  nav ul {
    margin-top: 0;
    margin-left: 0;
    padding: 0;
    display: flex;
    list-style: none; }
    nav ul li {
      flex-grow: 1;
      display: inline-block;
      text-align: center; }
    nav ul li.active span {
      border-bottom: 3px solid #009ee0; }

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 0 50px 0; }

h1 {
  color: #2c2c2c;
  width: 100%;
  border-bottom: solid #009ee0 1px;
  font-size: 32px;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #2c2c2c; }

a:hover {
  color: #009ee0; }

/* Header styling */
header {
  display: flex; }

.name {
  font-size: 60px;
  color: #009ee0;
  text-align: right;
  display: inline-block;
  font-weight: 500; }

#roelants {
  margin-top: -0.3em; }

.contact {
  margin-left: 20px;
  padding: 1em 0 0.5em 0; }

dl {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; }

dt {
  float: left;
  clear: left;
  color: #009ee0;
  text-align: right; }

dd {
  margin-inline-start: 1.5em; }

.glyph {
  width: 1em; }

section {
  margin: 50px 0px 50px 0px; }

.item {
  display: flex;
  margin-top: 20px; }

.date {
  min-width: 150px;
  font-weight: bold; }

.title {
  font-weight: bold; }

.description {
  padding-top: 10px;
  font-style: italic; }

/* Skills styling */
#skills > ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

#skills > ul > li {
  padding: 0px 0px 20px 0px; }
