---
import { getCollection } from "astro:content";
import Box from "../components/Box.astro";
import { DarkModeToggle } from "../components/DarkModeToggle";
import Icon from "../components/Icon.astro";
import Latest from "../components/Latest.astro";
import SharedLayout from "../layouts/SharedLayout.astro";

const books = await getCollection("books");
const currentlyReading = books.filter(book => !book.data.dateRead);

console.log("Currently reading", currentlyReading);

---
<SharedLayout title="Home" description="The personal website of Sam Roelants">
  <div class="md:w-[1000px] px-4 w-screen py-20 relative">
    <div class="py-20">
    <div class="flex">
      <div class="w-4/6">
        <div class="text-7xl font-black">
          Sam<br />
          Roelants
        </div>

        <div class="py-5 text-slate-500 w-7/12">
          Explorations in programming, music, or whatever else happened to cross my mind.
        </div>

        <div class="flex justify-between w-7/12 text-base text-teal-600">
        <a href="./about">About</a>
        <a href="./archive">Writing</a>
        <a href="./books">Books</a>
        <a href="https://github.com/sroelants">Code</a>
        <a href="mailto://sam@samroelants.com">Contact</a>
        </div>
      </div>

    <div class="w-5/12 -translate-y-8">
        <div class="flex justify-end p-3">
          <DarkModeToggle client:load />
        </div>
        <Box title="Now" class="text-slate-600 dark:text-slate-400 h-fit text-base m-3">
          { currentlyReading.map(book => {
            return (
              <div class="flex items-center">
                <Icon name="book" />
                {book.data.author} &mdash; {book.data.title}
              </div>
            );
          })}

          <div class="flex items-center">
            <Icon name="headphones" /> Gustav Mahler &mdash; Symphony n.2
            (Resurrection)
          </div>

          <div class="flex items-center">
            <Icon name="map-pin" /> Ceuse (France)
          </div>
        </Box>

        <Latest />

        </div>
      </div>
    </div>
  </div>
</SharedLayout>
