---
const { title } = Astro.props
const className = `
  ${Astro.props.class} 
  border rounded p-3
  bg-slate-100 border-slate-300
  dark:bg-slate-800 dark:border-slate-700
  `;
---
<div class={className}>
  <div class="text-teal-600 font-bold">{title}</div>
  <slot />
</div>
