---
import Navigation from "./Navigation.astro";
---

<div class="lg:flex lg:justify-start lg:items-start justify-center items-center flex-column">
  <div class="font-black flex justify-center lg:justify-start">Sam Roelants</div>
  <Navigation />
</div>
