---
import Navigation from "./Navigation.astro";
---

<div class={`
  md:flex md:justify-start md:items-start
  flex-column justify-center items-center 
  text-lg
`}>
  <div class="font-black flex justify-center md:justify-start">Sam Roelants</div>
  <Navigation />
</div>
