---
import Navigation from "./Navigation.astro";
---

<div class={`
  md:flex md:justify-start md:items-start
  flex-column justify-center items-center 
  text-lg
`}>
  <div class="font-black flex justify-center md:justify-start">
    <a href="/" class=`
    text-slate-700 dark:text-slate-300
    hover:text-slate-700 dark:hover:text-slate-300
    `>Sam Roelants</a>
  </div>
  <Navigation />
</div>
