---
interface Props {
  date: Date,
  title: string,
  slug: string,
}

const {date, title, slug} = Astro.props;

let intl = Intl.DateTimeFormat("en-US", {
  month: "short", 
  day: "2-digit", 
  year: "numeric" 
});

---
<div class="truncate">
  <a href={`archive/${slug}`} class="text-slate-700 dark:text-slate-300">
    <span class="text-teal-600 inline-block w-24">
      { intl.format(date) }
    </span> 
    {title}
  </a>
</div>
