---
import NavItem from "./NavItem.astro";
---

    <nav class="mx-4 text-teal-500 flex justify-center lg:justify-start">
      <NavItem><a href="/about">About</a></NavItem>
      <NavItem><a href="/archive">Archive</a></NavItem>
      <NavItem><a href="/work">Work</a></NavItem>
    </nav>
