$bg-white: #fbfbfb
$bg-light-grey: #f8f8f8
$bg-grey: #f2f2f2
$fg-black: #333
$fg-highlight: #16abff
$titlefont: 'Merriweather', serif
$seriffont: 'Merriweather', serif
$sansfont: 'Open Sans', sans-serif
$titlefont: 'Merriweather', serif
$bodyfont: 'Open Sans', sans-serif
// $bodyfont: 'Vollkorn', serif
// $bodyfont: 'EB Garamond', serif
// $bodyfont: 'Cormorant Garamond', serif
// $bodyfont: 'Crimson Pro', serif
// $bodyfont: 'Lora', serif

body
  background: $bg-white
  color: $fg-black
  counter-reset: sidenote-counter; 
  font-family: $bodyfont
  // font-size: 1.1em

.sidebar 
  border-right: 1px solid #eee
  text-align: right
  width: 400px
  height: 100vh
  position: fixed
  padding-top: 40vh

.header
  padding-right: 30px

.header__name
  font-family: $titlefont
  font-weight: 700
  font-size: 2em
  display: inline-block

.header__nav
  width: 100%
  text-align: right
  letter-spacing: 0.15rem

.header__nav_menu__item
  box-sizing: border-box
  transform: translate(-2px)
  font-family: $sansfont
  font-size: 1.3em
  font-weight: 300
  list-style: none
  margin: 0.25em 0
  padding: 0.25em 0
  &:hover
    color: $fg-highlight
    transition: all 0.1s linear
    border-right: 4px solid $fg-black
    margin-right: -4px
  

.header__nav_menu__item--active
    border-right: 4px solid $fg-black
    margin-right: -4px


.header__nav_menu__anchor
  padding-right: 30px
  color: $fg-black
  text-decoration: none


.date
  position: relative
  font-size: 0.9em
  color: $fg-highlight
  bottom: -0.3em
  text-align: left

.tag
  display: inline-block
  padding: 2px 5px
  margin-left: 2px
  margin-right: 2px
  position: relative
  bottom: -0.3em

  font-weight: 400
  font-size: 0.9em

  background-color: lighten($fg-black, 70%)
  border-radius: 4px
  &:hover
    background-color: lighten($fg-black, 60%)
    transition: all 0.1s linear
    color: darken($bg-white, 8%)
  a
    color: lighten($fg-black, 10%)
    text-decoration: none
    &:hover
      color: $fg-black

code[class*=""]
  background-color: #eee
  padding: 0.2em
  border-radius: 5px
  border: 1px solid #ddd

h1, h2, h3
  margin-top: 0
  margin-bottom: 1em
  font-family: $titlefont
  text-align: left


h1
  font-size: 2em

h2
  font-size: 1.5em
  margin-top: 1.5em

h3
  margin-top: 1.5em

.post-title
  margin-top: 1em
  margin-bottom: 0em
  font-family: $titlefont
  font-weight: 700
  font-size: 2em
  text-align: left
  a
    text-decoration: none


.main
  font-size: 1.1em
  line-height: 1.6
  text-align: justify
  width: 640px
  position: absolute
  left: 400px 
  font-weight: 400
  padding-left: 50px
  padding-bottom: 100px
  padding-top: 40vh

a
  text-decoration-color: $fg-highlight
  color: $fg-black
  &:hover
    text-decoration: none
    color: $fg-highlight

/* Resume styling */

section
  margin:  0 0 50px 0

.post-list
  padding-left: 0

.item
  display: flex
  margin-top: 20px


.activity_date
  min-width: 150px
  font-weight: bold


.title
  font-weight: bold

.description
  padding-top: 10px
  font-style: italic

#skills > ul
  font-weight: 400
  list-style: none
  padding: 0px
  margin: 0px

#skills > ul > li
  padding: 0px 0px 20px 0px

.posted-date
  text-align: left
  margin-right: 1em
  display: inline
  time
    margin: 0
    padding: 0

.post-metadata
  text-align: left
  padding-bottom: 1em
  font-family: $sansfont
  font-size: 0.8em

#sam-photo
  width: 250px
  height: 250px
  float: right
  margin: 30px

.post__image
  width: 640px
  padding: 30px 0

// Sidenotes
.sidenote
  float: right
  clear: right
  margin-right: -45%
  width: 40%
  margin-top: 0
  margin-bottom: 0
  font-size: 0.7em
  line-height: 1.3
  vertical-align: baseline
  position: relative 

.sidenote-number 
  margin-left: -0.3em
  counter-increment: sidenote-counter 
  color: $fg-highlight


.sidenote-number:after,
.sidenote:before 
  position: relative
  vertical-align: baseline 


.sidenote-number:after 
  content: counter(sidenote-counter)
  font-size: 0.6em
  top: -0.5em
  left: 0.1em 


.sidenote:before 
  color: $fg-highlight
  content: counter(sidenote-counter) 
  font-size: 0.7em
  top: -0.5em 


input.margin-toggle 
    display: none 


label.sidenote-number 
    display: inline 


label.margin-toggle:not(.sidenote-number) 
    display: none 

@media (max-width: 1350px) 
  .sidenote
    display: none 

  .sidenote-number 
    font-weight: 700
  
  
  .margin-toggle:checked + .sidenote,
    display: block
    float: left
    left: 1rem
    clear: both
    width: 95%
    margin: 1rem 2.5%
    vertical-align: baseline
    position: relative 
  
  label 
    cursor: pointer 
