---
layout: mainlayout.njk
title: Sam Roelants
section: about
---
  <img src="/assets/img/sam.png" id="sam-photo" alt="A heroic picture of me" />
  <p>
  Hi, I'm Sam. Let's just get this out of the way: unless you're from Belgium
  or the Netherlands, I don't expect you to pronounce my last name correctly. 
  My girlfriend can't, so why should you? I'd rather we just immediately go to 
  being on a first name basis. Again, I'm Sam.
  </p>
  <p>
  I'm a physicist by training, but after having spent the last decade doing 
  physics, I decided it was time for a change. Academia may have left a bitter 
  taste, but it undeniably fed my passion for creative problem solving and 
  finding efficient solutions to tough problems, because some solutions are
  more equal than others.
  </p>
  <p>
  I'm a self-taught software engineer who first started building things on his 
  parents' old computer back when CSS2 was
  the hot new thing, and everyone was getting excited about XHTML. Remember 
  XHTML? Technology has been a passion ever since. Though I still 
  occasionally dabble in the odd physics simulation and still read maths 
  textbooks before bed. For fun.

  
  {#
  <p>
    I enjoy finding elegant, efficient and robust solutions to tough problems, 
    because, some solutions are more equal than others.
    An extensive training in mathematical physics has developed my skills
    in reasoning, abstraction and well though-out design. 
    While my experience lies mainly
    in numerical simulations in Python, Julia and Fortran, I am passionate 
    about web technologies and functional programming.
  </p> #}

  <section id="interests">
    <h1>Interests</h1>
    <p>
      I have a weak spot for the mathematical side of computer science
      (category theory, type theory). 
    </p>
    <p>
      Aside from software, I am an avid climber, mountaineer, runner
      and all-out outdoors enthousiast. I feel strongly about veganism and 
      more ethical approaches to food. I like books. 
    </p>

    If I had three wishes, I would wish for:
    <ol>
      <li> Enough money to stay enrolled at my alma mater for life and spend my
        life studying.</li>
      <li> The ability to play the <a href="https://www.youtube.com/watch?v=3QH8MstNkKg" target="_blank">Chopin Ballades</a>. Currently working my way 
        through the <a href="https://www.youtube.com/watch?v=FRyE7kN0rlk">Anna-Magdalena Bach Notebook</a>. But someday...</li>
      <li>World peace, of course.</li>
    </ol>
  </section>
