---
layout: mainlayout.njk
title: Blog
section: blog
---
<section id="blog">
  <p>
  Consider this a little space to put the
  thoughts and musings that I've written, or have yet to write.
  From a more technical side, it'll also serve as a place for me to take notes as
  I learn new technologies in the ever-evolving tech world. Most tinkerers and
  perpetual learners will agree: aside from the official documentation, 
  personal notes of people describing how they solved problems or configured tools 
  are the single most useful source of information when grappling with new technologies.
  </p>


  <p>
  Let this, then, be my tiny contribution to the edifice that is the grand sum of
  personal technical blogs.
  </p>
</section>


<section id="latest">
  <h1>Latest posts</h1>
  {% for post in collections.post | reverse %}
<article>
  <div class="post-title">
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </div>

  {% metadata post.date, post.data.tags %}

  <p>
  {{ post.data.description }} 
  </p>

  <a href="{{ post.url | url }}">Read more →</a>
</article>
  {% endfor %}
</section>
