---
layout: mainlayout.njk
title: Blog
section: blog
---
<section id="latest">
  <h1>Drafts</h1>
  {% for post in collections.draft | reverse %}
<article>
  <h2>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h2>

  {% metadata post.date, post.data.tags %}

  <p>
  {{ post.data.description }} 
  </p>

  <a href="{{ post.url | url }}">Read more →</a>
</article>
  {% endfor %}
</section>
