---
section: blog
layout: mainlayout.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /blog/tags/{{ tag }}/
filter:
  - post
---
<h1>Tagged “{{ tag }}”</h1>

<ul class="post-list">
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
<article>
<div class="post-title">
  <a href="{{ post.url | url }}">{{ post.data.title }}</a>
</div>

{% metadata post.date, post.data.tags %}


<p>
{{ post.data.description }} 

<a href="{{ post.url | url }}">Read more →</a>


</article>
{% endfor %}
</ul>
