---
layout: mainlayout.njk
title: Thoughts
section: thoughts
---
{% block content %}
  <section id="thoughts">
    <h1>Thoughts</h1>
      A very uncurated list of things that occupy my mind. Expect to find
      writings that span topics from coding and mathematics to music.
  </section>
  <section id="latest">
    <h1>Latest posts</h1>
  </section>
{% endblock %}
