---
layout: mainlayout.njk
title: Thoughts
section: thoughts
---
<section id="thoughts">
  <h1> Thoughts</h1>

  A very uncurated list of things that occupy my mind. Expect to find
  writings that span topics from coding and mathematics to music.
</section>


<section id="latest">
  <h1>Latest posts</h1>
  {% for post in collections.post %}
<article>
  <h2>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
  </h2>
  <span class="posted-date">
  <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}
  </time>
  </span>

  {% for tag in post.data.tags %}
    {% if tag != "post" %}
  <a href="/thoughts/tags/{{ tag }}" class="tag">#{{ tag }}</a>
    {% endif %}
  {% endfor %}

  <p>
  {{ post.data.description }} 
  </p>

  <a href="{{ post.url | url }}">Read more →</a>
</article>
  {% endfor %}
</section>
