---
import { DarkModeProvider } from "../components/DarkModeToggle";
import "../styles/global.css";
---

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="The personal blog of Sam Roelants." />
    <meta name="author" content="Sam Roelants" />

    <script is:inline>
      const theme = localStorage.getItem('theme')
      if (theme === 'dark' || (!theme && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        window.localStorage.setItem('theme', 'dark')
      } else {
        document.documentElement.classList.remove('dark')
        window.localStorage.setItem('theme', 'light')
      }
    </script>

  </head>
  <body>
    <DarkModeProvider client:load>
      <div class={`
          global-colors
          text-lg
          p-4 w-screen 
          min-w-screen min-h-screen 
          flex justify-center items-center 
          transition duration-150 ease-linear
          max-w-full overflow-hidden
      `}>
        <div class="md:w-[1000px] px-4 w-screen py-20 relative">
          <div class="py-20">
            <slot />
          </div>
        </div>
      </div>
    </DarkModeProvider>
  </body>
</html>
