/* Colours */
$bg-white: #F9F9F9
$fg-black: rgba(44, 44, 44, 1)
$hl-blue: rgba(0, 158, 224, 1)

/* General page styling */
html
  overflow-y: scroll
body
  background: $bg-white
  color: $fg-black
  font-family: 'Rubik', sans-serif
  font-size: 16px

/* Navbar styling */
nav 
  font-size: 20px
  font-weight: 400
  padding-top: 10px
  ul
    padding: 0
    display: flex
    list-style: none
    li
      flex-grow: 1
      display: inline-block
      text-align: center
      
    li.active 
      span
        border-bottom: 3px solid $hl-blue

/* Content styling */

.content
  width: 700px
  margin: 0 auto 
  padding: 50px 0 50px 0
  overflow: hidden


h1
  color: $fg-black
  width: 100%
  border-bottom: solid  $hl-blue 1px
  font-size: 32px
  font-weight: 400


a
  text-decoration: none
  color: $fg-black


a:hover
  color: $hl-blue


/* Header styling */

header
  display: flex


.name
  font-size: 60px
  color: $hl-blue
  text-align: right
  display: inline-block
  font-weight: 500


#roelants
  margin-top: -0.3em


.contact
  margin-left: 20px
  padding: 1em 0 0.5em 0


dl
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  margin: 0


dt
  float: left
  clear: left
  color: $hl-blue
  text-align: right


dd
  margin-inline-start: 1.5em


.glyph
  width: 1em


section
  margin:  50px 0px 50px 0px


.item
  display: flex
  margin-top: 20px


.date
  min-width: 150px
  font-weight: bold


.title
  font-weight: bold

.description
  padding-top: 10px
  font-style: italic


/* Skills styling */

#skills > ul
  list-style: none
  padding: 0px
  margin: 0px


#skills > ul > li
  padding: 0px 0px 20px 0px

