$bg-white: #fbfbfb
$bg-light-grey: #f8f8f8
$bg-grey: #f2f2f2
$fg-black: #333
$fg-highlight: #16abff

body
  background: $bg-white
  color: $fg-black


.header
  text-align: right
  box-sizing: border-box
  width: 33vw
  height: 100vh
  position: fixed
  clip-path: border-box
  background: url("/assets/img/penrose2.svg")
  background-size: 1200px
  background-position: -180px -180px
  background-color: $bg-grey
  padding-top: 30px
  padding-left: 40px
  padding-right: 40px


.date
  position: relative
  font-size: 0.8em
  color: $fg-highlight
  bottom: -0.3em


.header__logo
  height: 80px
  width: 80px
  background-color: $bg-grey
  background: url("/assets/img/penrose_small2.svg")
  background-size: contain
  display: inline-block
  transform: translateY(25%)
  display: none

.header__name
  /* padding-left: 20px
  /* padding-right: 20px
  font-family: 'Merriweather', serif
  font-weight: 700
  font-size: 3em
  display: inline-block

.header__nav
  width: 100%
  position: relative
  top: 10%
  text-align: right
  letter-spacing: 0.15rem

.header__nav_menu__item
  font-family: 'Open Sans', sans-serif
  font-size: 1.5em
  font-weight: 300
  line-height: 2em
  list-style: none

.header__nav_menu__anchor
  color: $fg-black
  text-decoration: none
  &:hover
    color: $fg-highlight
    margin-right: -2px
    transition: all 0.1s linear

h1, h2, h3
  margin-top: 0
  margin-bottom: 1em
  font-family: 'Merriweather', serif
  text-align: justify

h1
  font-size: 2em

h2
  margin-top: 1em

.main
  font-size: 1.1em
  line-height: 1.6
  text-align: justify
  width: 35em
  position: absolute
  top: 50%
  left: 33vw
  font-weight: 300
  padding-left: 50px
  padding-bottom: 100px
